%p
  = image_tag project.image.thumb.url if project.image?
  = project.title
  = link_to 'Edit', edit_project_path(project)
  = link_to 'Delete', project_path(project), method: :delete, data: { confirm: 'Are you sure?' }
%hr
